<launch>

    <node pkg="make_map" type="square.py" name="square" output="screen" >
        <param name="mode" value="maze"/>
    </node>

    <node pkg="make_map" type="monitor.py" name="monitor"></node>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_big_wall.launch"> 
        <arg name="model" value="waffle"/>
        <arg name="world_name_file" value="$(find turtlebot3_gazebo)/worlds/funky-maze.world" />           
        <arg name="x_pos" value="2.0"/>  
        <arg name="y_pos" value="5.0"/>   
        <arg name="z_pos" value="0.0"/>
        <arg name="yaw" value="1.57" />
    </include>
   
</launch>
